%center {
    margin: 0 auto;
        max-width: 100%;
}

.body {
    &__div {
        grid-column: col-start/col-end;
         margin: 0 auto;
        // align-items: center;
        display: grid;
        text-align: center;
   
    & img {
        @extend %center;
    } 
    & h2 {
        font-size: 3rem;
        @extend %center;
      //  width: 70%;
    } 
    & h4 {
        font-size: 1.7rem;
        @extend %center;
        width: 70%;
        line-height: 2.5rem;
    }
    &__details {
            &__h6 {
                font-size: 1.3rem;
            }
        }
    }
}

#body__div {
    &__first {
        &__details {
            font-size: 3rem;
        } 
    }
    &__details {
        width: 100%;
    } 
}