.container {
    display: grid;
    grid-template-rows: minmax(min-content,100vh);
    background-color: #303c4d;
    place-items: center;
    grid-template-columns: [full-start] minmax(1rem, auto) [col-start] repeat(2, [inner-col-start] minmax(min-content, 30vw) [inner-col-end]) [col-end] minmax(1rem, auto) [full-end];
}